
@import 'variables'

html
  box-sizing: border-box 
  color: $primary-color
  font-family: $primary-font

.main-wrapper
  max-width: 1300px
  margin: 0 auto

.table-search
  .input-group
    max-width: 500px

.search-label
  font-weight: 700
  margin: 20px 0 10px

.tabulator-cell .btn
  margin: -9px
  height: 42px
  width: 82px

.tabulator
  .tabulator-row
    background-color: $white
  .tabulator-row-even, .tabulator-header .tabulator-col, .tabulator-footer
    background-color: $table-dark-bg

.tabulator-edit-select-list
  .tabulator-edit-select-list-item
    background-color: $white
  .tabulator-edit-select-list-item.active
    color: $white

.tabulator-edit-select-list .tabulator-edit-select-list-item:hover
  color: $white