
@import 'variables'

html
  box-sizing: border-box 
  color: $primary-color
  font-family: $primary-font
  background: #f1f1f1

.tabulator-tableHolder
  background-color: $table-bg

.save-btn
  width: 60px
  height: 24px
  margin: -4px

